<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="in.shadowsoft.adminEnd.destination_image"
            android:label="@string/title_activity_destination_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="in.shadowsoft.adminEnd.MainActivitytest"
            android:label="@string/title_activity_main_activitytest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="in.shadowsoft.adminEnd.food_outlet_location"
            android:label="@string/title_activity_food_outlet_location"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>